* {
    margin: 0;
    padding: 0;
}
#container {
    position: relative;
}
.box {
    float: left;
    padding: 20px;
}
.pic {
    background: #ccc;
    padding: 10px;
    border: 1px solid #ccc;
}
.pic img {
    width: 200px;
    height: auto;
}